@media only screen and (min-width: 1000px) {    
    li{
        display: block;
    }
    
    ul{
        display: flex;
        justify-content: space-evenly;
    }
    .ham{
        display: none;
    }

    .navigation{
        grid-column: 3 / span 1;
        grid-row: 1;
    }

    .icons{
        grid-column: 4 / span 1;
    }

    main{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 200px);
    }

    .hero{
        grid-column: 2 / span 3;
        grid-row: 1 / span 2;
    }
    
    .event{
        grid-column: 1;
        grid-row: 1;
    }

    .weather{
        grid-column: 1;
        grid-row: 2;
    }

    .join{
        display: inline;
        grid-column: 1;
        grid-row: 3;
    }
    .news{
        grid-column: 2 / span 3;
        grid-row: 3;
    }

    .spotlight{
        grid-column: 5;
        grid-row: 1 / span 3;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
    }

    .spotlight1{
        grid-row: 1;
    }

    .spotlight2{
        grid-row: 2;
    }

    .spotlight3{
        display: inline;
        grid-row: 3;
    }

      /* -------Directory---------- */
    .dir_image{
        display: inline;
  }

    .cards section h2{
        display: none;
    }

    .cards section {
        border: 1px solid navy;
        background-color: #ffab7f;
        padding: 30px;
        text-align: left;
        width: 300px;
        margin: 20px;
    }

}




