.logo{
    width: 50px;
}

header{
    background-color: #f7f467;
    padding: 10px;
}

.date{
    background-color: #FFFDA2 ;
    text-align: center;
}

h1, h2{
    margin: 0px;
}

.site_title{
    text-align: left;
}

.icon{
    width: 20px;
}

.hero{
    border: 1px solid black;
    position: relative;
}

main section{
    border: 1px solid black;
    margin: 10px;
}

aside{
    border: 1px solid black;
    margin: 10px;
}

.location{
    width: 15px;
}

.bottom_footer{
    border-top: 1px solid black;
}

.footer_logo{
    width: 100px;
}

footer{
    text-align: center;
    background-color: #f7f467;
    padding: 10px;
}

/* .hero{
    background-image: url("../img/background.jpg");
} */

.hero button{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: green;
    color: black;
    border-radius: 15px;
    padding: 10px;

    
}

.hero h3{
    position: absolute;
    top: 20px;
    left: 20px;
}

section{
    text-align: center;
    padding: 10px;
}

.join button{
    background-color: lightgreen;
    color: white;
    border-radius: 15px;
    padding: 10px;
}

main section{
    background-color: #ffab7f;
}

main aside{
    background-color: #ffab7f;
}

nav a:hover{
    background-color: green;
    color: white;
}

a{
    text-decoration: none;
    padding: 15px;
}

.hero img{
    height: 100%;
}

.discover_pictures{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discover_pictures img:hover{
    box-shadow: 0 0 50px #333;  
}


/* --------FORM-----------*/
.form{
    margin: 10px;
    display: grid;
    grid-template-columns: 300px;
}