.logo{
    width: 50px;
}

header{
    background-color: #f7f467;
    padding: 10px;
}

.date{
    background-color: #FFFDA2 ;
    text-align: center;
}

h1, h2{
    margin: 0px;
}

.site_title{
    text-align: left;
}

.icon{
    width: 20px;
}

.hero{
    border: 1px solid black;
    position: relative;
    padding: 0;
}

main section{
    border: 1px solid black;
    margin: 10px;
}

aside{
    border: 1px solid black;
    margin: 10px;
}

aside section{
    padding: 0;
}

.location{
    width: 15px;
}

.bottom_footer{
    border-top: 1px solid black;
}

.footer_logo{
    width: 100px;
}

footer{
    text-align: center;
    background-color: #f7f467;
    padding: 10px;
}

picture img{
    width:90%;
}

.hero button{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: green;
    color: black;
    border-radius: 15px;
    padding: 10px;

    
}

.hero h3{
    position: absolute;
    top: 20px;
    left: 20px;
}

section{
    text-align: center;
    padding: 10px;
}

.join button{
    background-color: lightgreen;
    color: white;
    border-radius: 15px;
    padding: 10px;
}

main section{
    background-color: #ffab7f;
}

main aside{
    background-color: #ffab7f;
}

nav a:hover{
    background-color: green;
    color: white;
}

a{
    text-decoration: none;
    padding: 15px;
}

.hero img{
    height: 100%;
}

.discover_pictures{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discover_pictures img:hover{
    box-shadow: 0 0 50px #333;  
}


/* -----Weather section------ */
.weather{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 40px);
    
}

.weather h3{
    grid-column: 2 / span 2;
    grid-row: 1;
}

.temp{
    grid-column: 2 / span 2;
    grid-row: 2;
    font-size: 110%;
    color: blue;
}

.weather img{
    grid-column: 4;
    grid-row: 1 / span 2;
    width: 75px;
}

.weather #figcaption{
    grid-column: 2 / span 3;
    grid-row: 3;
    justify-self: start;
}

#windChill{
    grid-column: 3 / span 2;
    grid-row: 4;
    font-size: 70%;
}

#windspeed{
    grid-column: 1 / span 2;
    grid-row: 4;
    font-size: 70%;
}



/* --------FORM-----------*/
.form{
    margin: 10px;
    display: grid;
    grid-template-columns: 300px;
}


