@media only screen and (min-width: 700px) {
    
    footer{
        display: grid;
        grid-template-columns: 120px 300px auto;
    }

    .footer_address{
        justify-self: start;
    }

    .bottom_footer{
        grid-column: 1 / span 3;
        
    }

    .class_info{
    grid-column: 1 / span 3;

    }

    .lastModification{
    grid-column: 1 / span 3;

    }

    .spotlight3{
        display: none;
    }
    
    .join{
        display: inline;
    }

    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 200px);
    }
    
    .hero{
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    .news{
        grid-column: 1 / span 3;
        grid-row: 2;
    }

    .spotlight{
        grid-column: 1 / span 3;
        grid-row: 3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .join{
        grid-column: 1 / span 3;
        grid-row: 4;
    }

    .event{
        grid-column: 1 / span 2;
        
    }

}