@media only screen and (min-width: 700px) {
    
    footer{
        display: grid;
        grid-template-columns: 120px 300px auto;
    }

    .footer_address{
        justify-self: start;
    }

    .bottom_footer{
        grid-column: 1 / span 3;
        
    }

    .class_info{
    grid-column: 1 / span 3;

    }

    .lastModification{
    grid-column: 1 / span 3;

    }

    .spotlight3{
        display: none;
    }
    
    .join{
        display: inline;
    }

    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 200px);
    }
    
    .hero{
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    .news{
        grid-column: 1 / span 3;
        grid-row: 2;
    }

    .spotlight{
        grid-column: 1 / span 3;
        grid-row: 3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .join{
        grid-column: 1 / span 3;
        grid-row: 4;
    }

    .event{
        grid-column: 1 / span 2;
        
    }

    .form-info{
        display: grid;
        grid-template-columns: 1fr 1fr;

        text-align: center;
    }

      /* -------Directory---------- */
    .dir_image{
        display: inline;
    }

    .cards section h2{
        display: none;
    }

    .cards section {
        border: 1px solid navy;
        background-color: #ffab7f;
        padding: 30px;
        text-align: left;
        width: 300px;
        margin: 20px;
    }




}